html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    width: 50%;
    height: 80%;
    background-color: rgb(28, 33, 37);
    margin: 40px auto 0;
    grid-gap: 2px;
    padding:2px;
}
#container > div{
    background-color:deepskyblue;
    font: normal 30pt sans-serif;
    display: flex;
    justify-content:
    align-items:
    user-select: none;
    -moz-user-select: none;
    transition: background-color 1.5s ease-out;
}
#container > div:hover{
    background-color:rgb(15, 108, 196);
    transition: background-color ease;
}
