#container {
    width: 500px;
    background-color: blue;
    margin: 0 auto;
}
#container >div{
width: 75%;
}

div {


    background-color: rgb(24, 211, 24);
}


div.second{
    height: 24px;
    background-color: pink;
    transition: all 1s linear;

}
div.second:hover{
    height: 300px;
    background-color: deeppink
}